<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<body th:fragment="navigation">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container fs-4">
            <a class="nav-link main-link mr-auto" th:href="@{/}">Destiny Of The Chosen</a>

            <!-- Not Authenticated -->
            <th:block sec:authorize="!isAuthenticated()">
                <a class="nav-link main-link" th:href="@{/users/login}">Login</a>
                <a class="nav-link main-link" th:href="@{/users/register}">Register</a>
            </th:block>

            <!-- Authenticated -->
            <th:block sec:authorize="isAuthenticated()">
                <div class="dropdown">
                    <span class="main-link dropdown-toggle no-select" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false" sec:authentication="name"></span>
                    <div class="dropdown-menu text-secondary bg-primary rounded-3" aria-labelledby="dropdownMenuButton">
                        <a class="nav-link main-link no-select" th:href="@{/users/profile}">Profile</a>
                        <a class="nav-link main-link no-select" th:href="@{/users/inventory}">Inventory</a>
                        <div class="dropdown-divider border-2 border-secondary"
                             sec:authorize="hasRole('ROLE_ADMIN')">
                        </div>
                        <a class="nav-link main-link no-select" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/admin/zones/create}">Create zone</a>
                        <a class="nav-link main-link no-select" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/admin/items/create}">Create item</a>
                        <a class="nav-link main-link no-select" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/admin/enemies/create}">Create enemy</a>
                    </div>
                </div>
                <form th:action="@{/users/logout}"
                      th:method="POST">
                    <input type="submit" class="bg-primary border-0 nav-link main-link" value="Logout">
                </form>
            </th:block>
        </div>
    </nav>
</header>
</body>
</html>