#combat-background {
    min-height: 100vh;
}

#skills > img {
    width: 15vw;
}

.hero-fight-card {
    width: 25vw;
    font-size: 1vw;
}

.enemy-fight-card {
    width: 25vw;
    font-size: 1vw;
}

.hero-fight-image {
    transform: scale(-1, 1);
    width: 15vw;
}

.enemy-fight-image {
    width: 25vw;
}

.status-bar {
    background: rgba(79, 80, 80, 0.53);
    height: 4vh;
    margin: 1vh 0 1vh 0;
    border-radius: 1vh;
    overflow: hidden;
}

.status-bar-value {
    font-weight: bolder;
    top: 50%;
    transform: translateY(-50%);
}

#hero-health-bar-fill {
    width: 100%;
    background: #baf508;
    transition: width 0.5s;
}

#hero-health-bar-value {
    color: #0d6efd;
}

#hero-mana-bar-fill {
    width: 100%;
    background: #baf508;
    transition: width 0.5s;
}

#enemy-health-bar-fill {
    width: 100%;
    background: #baf508;
    transition: width 0.8s;
}

#enemy-health-bar-value {
    color: #0d6efd;
}

.skill-border {
    position: relative;
    display: inline-block;
    border-radius: 20%;
    padding: 0.2rem;
    background-color: #0d6efd;
    margin-top: 5px;
}

.skill-border:hover {
    cursor: pointer;
    background-color: #0a48aa;
}

.skill-border:hover ~ .skill-dropdown {
    opacity: 1;
    pointer-events: auto;
}

.skill-border:hover > .skill-icon {
    transform: scale(1.045);
}

.skill-icon.inactive {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

.skill-icon {
    margin: 0;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 20%;
    transition: 200ms transform ease-in-out;
}

.skill-dropdown {
    opacity: 0;
    padding: 5px;
    width: 10rem;
    border-radius: 5%;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    z-index: 100;
    pointer-events: none;
    transition: 300ms opacity ease-in-out;
}

.cool-down {
    position: absolute;
    font-size: xxx-large;
    font-weight: normal;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#info-message {
    min-height: 100px;
    display: inline-block;
    text-align: center;
}