/* Body CSS */
body, html {
    height: 100%;
}

body {
    font-family: "Papyrus", "Garamond", "sans-serif";
    font-weight: bolder;
    letter-spacing: 6px;
    margin: 0;
    background-color: transparent;
}

#home-link {
    font-size: 2vw;
}

.main-background {
    background-image: url(https://res.cloudinary.com/felin/image/upload/v1636279961/DestinyOfTheChosen/backgrounds/home-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.main-link {
    color: #B2DB34 !important;
}

.main-link:hover {
    color: #baf508 !important;
    cursor: pointer;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
    display: none;
}

/*!* */
/*    color schema:*/
/*    #1B486B -dark blue,*/
/*    #28A352 -green,*/
/*    #B2DB34 -bright green,*/
/*    #F2AC34 -yellow,*/
/*    #FC7634 -orange*/
/**!*/