/* Body CSS */
body, html {
    height: 100%;
}

body {
    font-family: "Papyrus", "Garamond", "sans-serif";
    font-weight: bolder;
    letter-spacing: 6px;
    margin: 0;
}

.main-background {
    background-image: url(/images/home-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    min-height: 100vh;
}

.main-link {
    color: #B2DB34 !important;
}

.main-link:hover {
    color: #baf508 !important;
}

/*!* */
/*    color schema:*/
/*    #1B486B -dark blue,*/
/*    #28A352 -green,*/
/*    #B2DB34 -bright green,*/
/*    #F2AC34 -yellow,*/
/*    #FC7634 -orange*/
/**!*/