<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head::head"></head>

<body>
<header th:replace="/fragments/navigation::navigation"></header>
<main class="main-background">
    <br>
    <section class="d-flex mx-auto col-md-6 mt-5 pt-4 pb-1
             text-secondary text-center justify-content-center
             bg-opacity-75 bg-primary border-3 rounded-3">
        <p class="fs-2">
            Take your destiny in your own hands and defend an
            ever-changing world at war. Experience a genre-defining
            RPG and untold adventures.
        </p>
    </section>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
</body>

</html>