<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"><title></title></head>

<body>
<header th:replace="fragments/navigation::navigation"></header>
<main class="main-background">
    <br>
    <p th:if="${adminCreatedInfo}"
       th:text="${adminCreatedInfo}"
       class="alert alert-secondary mx-auto col-md-6 text-center"></p>
    <section class="container-sm my-5">
        <form th:object="${usernameBindingModel}"
              th:action="@{/admin/add-admin-role}"
              th:method="POST"
              class="main-form text-center justify-content-center
               mx-auto col-md-6 bg-primary bg-opacity-75 text-secondary rounded-3">
            <h2 class="border-bottom border-secondary border-2
            text-center text-secondary fs-3 fw-bolder py-3">Make user an admin</h2>
            <div class="form-group">
                <label for="makeAdmin" class="fs-5 pt-3">Username</label>
                <input th:field="*{username}"
                       id="makeAdmin"
                       type="text" minlength="5" maxlength="16" required
                       class="form-control"
                       placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}"
                   th:errors="*{username}"
                   class="errors alert alert-danger"></p>
            </div>

            <input class="btn btn-primary bg-opacity-100 main-link fs-3 py-2 btn-lg mb-3"
                   type="submit"
                   value="Add"/>
        </form>
    </section>
    <p th:if="${adminRemovedInfo}"
       th:text="${adminRemovedInfo}"
       class="alert alert-secondary mx-auto col-md-6 text-center"></p>
    <section class="container-sm my-5">
        <form th:object="${usernameBindingModel}"
                th:action="@{/admin/remove-admin-role}"
              th:method="Delete"
              class="main-form text-center justify-content-center
               mx-auto col-md-6 bg-primary bg-opacity-75 text-secondary rounded-3">
            <h2 class="border-bottom border-secondary border-2
            text-center text-secondary fs-3 fw-bolder py-3">Remove admin role from admin</h2>
            <div class="form-group">
                <label for="removeAdmin" class="fs-5 pt-3">Username</label>
                <input th:field="*{username}"
                       id="removeAdmin"
                       type="text" minlength="5" maxlength="16" required
                       class="form-control"
                       placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}"
                   th:errors="*{username}"
                   class="errors alert alert-danger"></p>
            </div>

            <input class="btn btn-primary bg-opacity-100 main-link fs-3 py-2 btn-lg mb-3"
                   type="submit"
                   value="Remove"/>
        </form>
    </section>
    <br>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>

</html>