<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"><title></title></head>

<body>
<header th:replace="fragments/navigation::navigation"></header>
<main class="main-background">
    <br>
    <section class="container-sm my-5">
        <form th:object="${enemyCreationBindingModel}"
              th:action="@{/admin/enemies/create}"
              th:method="POST"
              enctype="multipart/form-data"
              class="main-form text-center justify-content-center
               mx-auto col-md-6 bg-primary bg-opacity-75 text-secondary rounded-3">
            <h2 class="border-bottom border-secondary border-2
            text-center text-secondary fs-3 fw-bolder py-3">Create Enemy</h2>
            <div class="form-group">
                <label for="enemyName" class="fs-5 pt-3">Name</label>
                <input th:field="*{enemyName}"
                       id="enemyName"
                       type="text" minlength="2" maxlength="16" required
                       class="form-control"
                       placeholder="Enemy name"/>
                <p th:if="${#fields.hasErrors('enemyName')}"
                   th:errors="*{enemyName}"
                   class="errors alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="image" class="fs-5 pt-3">Image</label>
                <input th:field="*{image}"
                       id="image"
                       type="file" required
                       class="form-control"/>
                <p th:if="${#fields.hasErrors('image')}"
                   th:errors="*{image}"
                   class="errors alert alert-danger"></p>
                <p th:if="${imageNotSupported}" class="errors alert alert-danger">
                    Image not supported.
                </p>
            </div>
            <div class="form-group">
                <label for="level" class="fs-5 pt-3">Level</label>
                <input th:field="*{level}"
                       id="level"
                       type="number" min="1" required
                       class="form-control"
                       placeholder="Level"/>
                <p th:if="${#fields.hasErrors('level')}"
                   th:errors="*{level}"
                   class="errors alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="experience" class="fs-5 pt-3">Experience</label>
                <input th:field="*{experience}"
                       id="experience"
                       type="number" min="1" required
                       class="form-control"
                       placeholder="Experience"/>
                <p th:if="${#fields.hasErrors('experience')}"
                   th:errors="*{experience}"
                   class="errors alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="health" class="fs-5 pt-3">Health</label>
                <input th:field="*{health}"
                       id="health"
                       type="number" min="1" required
                       class="form-control"
                       placeholder="Health"/>
                <p th:if="${#fields.hasErrors('health')}"
                   th:errors="*{health}"
                   class="errors alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="attack" class="fs-5 pt-3">Attack</label>
                <input th:field="*{attack}"
                       id="attack"
                       type="number" min="1" required
                       class="form-control"
                       placeholder="Attack"/>
                <p th:if="${#fields.hasErrors('attack')}"
                   th:errors="*{attack}"
                   class="errors alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="goldDropLowerThreshold" class="fs-5 pt-3">Gold lower threshold</label>
                <input th:field="*{goldDropLowerThreshold}"
                       id="goldDropLowerThreshold"
                       type="number" min="1" required
                       class="form-control"
                       placeholder="Gold lower threshold"/>
                <p th:if="${#fields.hasErrors('goldDropLowerThreshold')}"
                   th:errors="*{goldDropLowerThreshold}"
                   class="errors alert alert-danger"></p>
                <p th:if="${goldLowerThresholdBiggerOrEqualThanUpperThreshold}"
                   class="errors alert alert-danger">Gold lower threshold mustn't be greater than the upper threshold.</p>
            </div>
            <div class="form-group">
                <label for="goldDropUpperThreshold" class="fs-5 pt-3">Gold upper threshold</label>
                <input th:field="*{goldDropUpperThreshold}"
                       id="goldDropUpperThreshold"
                       type="number" min="1" required
                       class="form-control"
                       placeholder="Gold upper threshold"/>
                <p th:if="${#fields.hasErrors('goldDropUpperThreshold')}"
                   th:errors="*{goldDropUpperThreshold}"
                   class="errors alert alert-danger"></p>
                <p th:if="${goldLowerThresholdBiggerOrEqualThanUpperThreshold}"
                   class="errors alert alert-danger">Gold lower threshold mustn't be greater than the upper threshold.</p>
            </div>
            <div class="form-group">
                <label class="fs-5 pt-3">Drop list</label>
                <div class="dropdown">
                    <button class="btn btn-primary text-secondary dropdown-toggle" type="button"
                            id="dropdownMenuItems" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Items
                    </button>
                    <div class="dropdown-menu text-secondary bg-primary rounded-3" aria-labelledby="dropdownMenuButton">
                        <div class="form-check mx-3" th:each="item : ${items}">
                            <label>
                                <input th:field="*{dropList}"
                                       th:aria-label="${item.itemName}"
                                       th:value="${item.id}"
                                       th:text="${item.itemName}"
                                       class="form-check-input"
                                       type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="fs-5 pt-3">Zones list</label>
                <label for="zoneSelect"></label>
                <select th:field="*{zoneName}" class="custom-select" id="zoneSelect">
                    <option th:each="zone : ${zones}"
                            th:value="${zone.zoneName}"
                            th:text="|${zone.zoneName} - level requirement ${zone.levelRequirement}|"
                            class="fs-5"
                    ></option>
                </select>
            </div>

            <input class="btn btn-primary bg-opacity-100 main-link fs-3 py-2 btn-lg mb-3"
                   type="submit"
                   value="Create"/>
        </form>
    </section>
    <br>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>

</html>