<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head::head"></head>

<body>
<header th:replace="/fragments/navigation::navigation"></header>
<main th:object="${zone}" th:style="'background: url(' + *{imageUrl} + ') no-repeat center fixed;'">
    <br>
    <div class="container-sm my-5">
        <div class="row justify-content-center">
            <div th:each="enemy : *{enemies}" class="text-center justify-content-center
               text-secondary p-3 m-3 enemy-card">
                <img class="card-img-top" th:src="${enemy.imageUrl}" alt="Enemy image">
                <div class="card-body bg-primary bg-opacity-75 rounded-3 no-select">
                    <h3 class="card-title" th:text="${enemy.name}"></h3>
                    <h3 class="card-title border-bottom border-secondary" th:text="|level: ${enemy.level}|"></h3>
                    <h5 class="card-text" th:text="|Health: ${enemy.health}|"></h5>
                    <h5 class="card-text" th:text="|Attack: ${enemy.attack}|"></h5>
                    <a th:href="@{/enemies/{id}/attack(id = ${enemy.id})}" class="btn bg-primary main-link mt-2 fs-5">Attack</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
</body>

</html>