<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"><title></title></head>

<body>
<header th:replace="fragments/navigation::navigation"></header>
<main id="combat-background" th:style="'background: url(' + ${enemy.zoneImageUrl} + ') no-repeat center fixed;'">
    <br>
    <div class="container-sm my-1">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-sm-3 hero-fight-card align-self-end">
                <div class="bg-primary bg-opacity-75 rounded-3 py-1 no-select">
                    <span class="text-secondary" th:text="${hero.name}"></span>
                </div>
                <div id="hero-health-bar" class="progress position-relative status-bar bg-dark bg-opacity-75">
                    <div id="hero-health-bar-fill" class="progress-bar"
                         role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    <small id="hero-health-bar-value"
                           class="status-bar-value justify-content-center h6 d-flex position-absolute w-100 no-select"
                           th:text="|${hero.currentHealth}/${hero.baseHealth}|"></small>
                </div>
                <div id="hero-mana-bar" class="progress position-relative status-bar bg-dark bg-opacity-75">
                    <div id="hero-mana-bar-fill" class="progress-bar bg-primary"
                         role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    <small id="hero-mana-bar-value"
                           class="status-bar-value text-secondary h6 justify-content-center d-flex
                           position-absolute w-100 no-select"
                           th:text="|${hero.currentMana}/${hero.baseMana}|"></small>
                </div>
                <img class="card-img-top hero-fight-image" th:src="${hero.imageUrl}" alt="Hero image">
            </div>

            <!-- Combat menu -->
            <div id="combat-menu" class="col-12 col-sm-3 align-self-lg-center">
                <div id="info-message" class="row invisible">
                </div>
                <div id="skills" class="row">
                    <div th:each="skill : ${hero.skillList}" class="col p-0">
                        <div class="skill-border bg-opacity-75 no-select">
                            <img th:src="${skill.imageUrl}" class="skill-icon" th:classappend="${skill.currentCoolDown} != 0 ?
                            ' inactive' : ''" alt="skill-icon">
                        </div>
                        <div th:if="${skill.currentCoolDown} != 0" class="cool-down no-select text-secondary" th:text="${skill.currentCoolDown}"></div>
                        <p th:text="${skill.skillName}" class="casted-skill hidden invisible"></p>
                        <p th:utext="|Mana: ${skill.manaRequired} <br> ${skill.description}|"
                           class="skill-dropdown text-secondary bg-primary bg-opacity-75 no-select align-self-center"></p>
                    </div>
                </div>
                <div class="text-center py-5">
                    <button id="attack-btn" class="btn bg-primary bg-opacity-75 rounded-3 main-link mt-2 fs-5">Attack
                    </button>
                </div>
            </div>

            <div class="col-12 col-sm-6 enemy-fight-card align-self-end">
                <div class="bg-primary bg-opacity-75 rounded-3 py-1 no-select">
                    <span class="card-title text-secondary" th:text="${enemy.name}"></span>
                </div>
                <div id="enemy-health-bar" class="progress position-relative status-bar bg-dark bg-opacity-75">
                    <div id="enemy-health-bar-fill" class="progress-bar"
                         role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    <small id="enemy-health-bar-value"
                           class="status-bar-value justify-content-center h6 d-flex position-absolute w-100 no-select"
                           th:text="|${enemy.currentHealth}/${enemy.health}|"></small>
                </div>
                <img class="card-img-top enemy-fight-image align-self-end" th:src="${enemy.imageUrl}" alt="Enemy image">
            </div>
        </div>
    </div>
    <br>
</main>
<footer th:replace="fragments/footer::footer"></footer>
<script type="module" src="/js/fight-enemy.js"></script>
</body>

</html>