<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head::head"></head>

<body>
<header th:replace="/fragments/navigation::navigation"></header>
<main class="character-creation-background">
    <br>
    <div th:object="${heroSelectBindingModel}">
        <form th:method="POST"
              th:action="@{/heroes/select}">
            <section class="container my-5 text-center justify-content-center px-5
                        bg-primary bg-opacity-75 text-secondary rounded-3">
                <div class="row">
                    <div class="col-xl-4 mt-5">
                        <div class="row" id="hero-selection">
                            <label th:each="hero : ${user.heroes}"
                                   class="border rounded-3 border-secondary no-select main-link fs-5 py-2 my-2">
                                <input th:field="*{currentHeroId}"
                                       th:value="${hero.heroId}"
                                       th:text="${hero.name}"
                                       th:classappend="${hero.heroRole.name()}"
                                       type="radio" class="btn-check"
                                       required>
                                <br/>
                                <span th:text="|${hero.heroRole.getHeroRole()} lvl ${hero.level}|"></span>
                                <span th:text="${hero.heroInfo()}" class="hidden" th:classappend="${hero.heroId}"></span>
                            </label>
                            <a class="btn border-secondary main-link my-2 fs-3" th:href="@{create}">
                                Create hero
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 mt-5 mb-2 pb-3">
                        <img src=""
                             id="hero-image" class="rounded mx-auto d-block hero-image" alt="">
                    </div>
                    <div class="col-xl-4 my-2 py-3 mt-5 fs-4">
                        <p id="hero-information"></p>
                    </div>
                </div>
                <div class="pb-3 form-group row justify-content-center">
                    <div>
                        <button class="btn text-secondary border-secondary fs-3" type="submit">Select hero</button>
                        <button id="delete-modal-btn" data-toggle="modal" data-target="#heroDeletionModal"
                                class="btn text-secondary border-secondary fs-3" type="button">
                            Delete hero</button>
                    </div>
                </div>
            </section>
        </form>
        <form th:method="DELETE"
              th:action="@{/heroes/delete}"
              id="hero-delete-form"
              class="hidden invisible">
            <label>
                <input th:field="*{currentHeroId}"
                       id="hero-to-delete" type="text" required>
            </label>
            <input class="btn text-secondary border-secondary fs-3" type="submit" value="Delete hero"/>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="heroDeletionModal" tabindex="-1" role="dialog" aria-labelledby="heroDeletionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-primary border-1 border-secondary">
                    <div class="modal-header">
                        <h5 class="modal-title fs-2 text-secondary" id="heroDeletionModalLabel">Hero Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body fs-3 text-secondary">
                        Are you sure you want to delete this hero?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn border-2 border-secondary text-secondary" data-dismiss="modal">Cancel</button>
                        <button id="delete-hero-btn" type="button" class="btn btn-danger">Delete hero</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
<script src="/js/hero-selection.js"></script>
</body>

</html>