<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head::head"></head>

<body>
<header th:replace="/fragments/navigation::navigation"></header>
<main class="character-creation-background">
    <!-- TODO -->
    <br>
    <form th:action="@{/heroes/create}"
          th:method="POST">
        <section class="container my-5 text-center justify-content-center px-5
                        bg-primary bg-opacity-75 text-secondary rounded-3">
            <div class="row">
                <div class="col-xl-3 mt-5">
                    <div class="row" id="hero-select">
                        <button class="btn border-secondary main-link my-2 fs-3" id="warrior-select" type="button">
                            Warrior
                        </button>
                        <button class="btn border-secondary main-link my-2 fs-3" id="hunter-select" type="button">
                            Hunter
                        </button>
                        <button class="btn border-secondary main-link my-2 fs-3" id="mage-select" type="button">Mage
                        </button>
                    </div>
                </div>
                <div class="col-xl-5 mt-5 mb-2">
                    <img id="hero-creation-image"
                         src="/images/hunter.png" class="rounded mx-auto d-block hero-image" alt="">
                </div>
                <div class="col-xl-4 my-2 py-3 fs-4 mt-5">
                <span id="hero-description">
                    Hunters have high attack damage and their normal attack is very
                    powerful as well as their skills. Most of their skills are for damage
                    but they also have crowd control abilities like traps. Their main stat
                    is Dexterity which gives them two points in attack damage for each
                    Dexterity stat point.
                </span>
                </div>
            </div>
            <div class="pb-3 form-group row justify-content-center">
                <div class="col-md-4">
                    <label id="hero-name">
                        <input class="bg-dark form-control text-secondary border-secondary fs-3" type="text"
                               placeholder="Hero name">
                    </label>
                </div>
                <div class="col-md-2">
                    <input class="btn text-secondary border-secondary fs-3" type="submit" value="Create"/>
                </div>
            </div>
        </section>
    </form>
    <br>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
<script src="/js/application.js"></script>
</body>

</html>