<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head::head"></head>

<body>
<header th:replace="/fragments/navigation::navigation"></header>
<main class="main-background">
    <br>
    <section class="container my-5 text-center justify-content-center px-5
                        bg-primary bg-opacity-75 text-secondary rounded-3">
        <div class="row">
            <div class="col-xl-4  my-2 py-3 align-self-end border-bottom border-secondary">
                <p class="fs-4">Buy random items from the shop in your hero's level range and get lucky</p>
                <a class="btn border-secondary main-link my-2 fs-3" th:href="@{/shop/buy}">
                    Buy items
                </a>
            </div>
            <div class="col-xl-4 my-2 py-3 align-self-end border-bottom border-secondary">
                <p class="fs-4">Fight enemies in your hero's level range, get loot and gain experience</p>
                <a class="btn border-secondary main-link my-2 fs-3" th:href="@{/enemies/{level}/find(level = ${currentHero.level})}">
                    Find Enemies
                </a>
            </div>
            <div class="col-xl-4 my-2 py-3 align-self-end border-bottom border-secondary">
                <div>
                    <p class="fs-4">Your hero</p>
                    <p class="fs-4" th:text="${currentHero.name}"></p>
                    <p class="fs-4" th:text="|lvl ${currentHero.level} ${currentHero.heroRole.getHeroRole()}|"></p>
                </div>
                <a class="btn border-secondary main-link my-2 fs-3" th:href="@{/heroes/select}">
                    Select New Hero
                </a>
            </div>
        </div>
    </section>
    <br>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
</body>

</html>