<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head::head"><title></title></head>

<body>
<header th:replace="/fragments/navigation::navigation"></header>
<main class="main-background">
    <br>
    <section class="container-sm my-5">
        <form th:object="${userRegisterBindingModel}"
              th:action="@{/users/register}"
              th:method="POST"
              class="main-form text-center justify-content-center
               mx-auto col-md-6 bg-primary bg-opacity-75 text-secondary rounded-3">
            <h2 class="border-bottom border-secondary border-2
            text-center text-secondary fs-3 fw-bolder py-3">Register</h2>
            <div class="form-group">
                <label for="username" class="fs-5 pt-3">Username</label>
                <input th:field="*{username}"
                       id="username"
                       type="text" minlength="5" maxlength="16" required
                       class="form-control"
                       placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}"
                   th:errors="*{username}"
                   class="errors alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="email" class="fs-5 pt-3">Email</label>
                <input th:field="*{email}"
                       id="email"
                       type="email" required
                       class="form-control"
                       placeholder="Email"/>
                <p th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class="errors alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="rawPassword" class="fs-5 pt-3">Password</label>
                <input th:field="*{rawPassword}"
                       id="rawPassword"
                       type="password" minlength="8" maxlength="40" required
                       class="form-control"
                       placeholder="Password"/>
                <p th:if="${#fields.hasErrors('rawPassword')}"
                   th:errors="*{rawPassword}"
                   class="errors alert alert-danger"></p>
                <p th:if="${passwordMismatch}" class="errors alert alert-danger">
                    Passwords must be the same.
                </p>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="fs-5 pt-3">Confirm password</label>
                <input th:field="*{confirmPassword}"
                       id="confirmPassword"
                       type="password" minlength="8" maxlength="40" required
                       class="form-control"
                       placeholder="Confirm Password"/>
                <p th:if="${#fields.hasErrors('confirmPassword')}"
                   th:errors="*{confirmPassword}"
                   class="errors alert alert-danger">
                </p>
                <p th:if="${passwordMismatch}" class="errors alert alert-danger">
                    Passwords must be the same.
                </p>
            </div>

            <input class="btn btn-primary bg-opacity-100 main-link fs-3 py-2 btn-lg mb-3"
                   type="submit"
                   value="Register"/>
        </form>
    </section>
    <br>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
</body>

</html>