<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head::head"><title></title></head>

<body>
<header th:replace="/fragments/navigation::navigation"></header>
<main class="main-background">
    <br>
    <div class="container-sm my-5">
        <div class="row justify-content-center">
            <div th:each="zone : ${zones}" class="text-center justify-content-center
               bg-primary bg-opacity-75 text-secondary rounded-3 p-3 m-3 zone-card align-self-end">
                <img class="card-img-top" th:src="${zone.imageUrl}" alt="Zone image">
                <div class="card-body">
                    <h5 class="card-title" th:text="|${zone.zoneName} - level: ${zone.levelRequirement}|"></h5>
                    <a th:href="@{/enemies/{id}/find(id = ${zone.id})}" class="btn bg-primary main-link">Enter Zone</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
</body>

</html>